Package: com.tonykraft.nocontrolcenter
Name: NoControlCenter
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: No Control Center, ever.
Maintainer: Tony Kraft
Author: Tony Kraft
Section: Tweaks
Version: 1.0-1
Installed-Size: 88
